<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <![endif]-->
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet" href="{{ asset('build/app.scss') }}">
        <link rel="stylesheet" href="{{ asset('build/vendor.css') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('build/manifest.js') }}"></script>
        <script src="{{ asset('build/vendor.js') }}"></script>
        <script src="{{ asset('build/app.js') }}"></script>
    </body>
</html>
